.title {
  /*position: fixed;*/
  padding: 4%;
  font-size: 24px;
  top: 1.25%;
  left: 1.5%;
  background-color: #B5B1BA;
  color: #212529;
  width: 78%;
  /*height: 12.5%;*/
}
.theTitle{
  top:20%;
}
