a {
  color: #212529;
  text-decoration: none;
}
.menu {

  width: 30%;

  height: 4.4%;
  padding: 4%;

  position: fixed;
  right: .5%;
  top: 0%;
  float: right;
  background-color: #B5B1BA;
  color: bisque;
}


.sItem {

    /*padding-top: 4%;
    padding-bottom: 4%;*/
    position: relative;
    list-style: none;
    float: right;
    width: 30%
}
